@model JinnSports.BLL.Dtos.ConformityViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.InputName matching</h2>

@Html.Label(String.Format("Chose variant of matching in dropdown menu or write you custom variant in textbox for {0}", Model.InputName))

@using (Html.BeginForm("Save", "Conformities"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ExistedName)
        @Html.TextBoxFor(m => m.ExistedName, new { @class = "form-control" })   
        @Html.ValidationMessageFor(m => m.ExistedName)
             
    </div>    
    <div class="form-group">
        @Html.LabelFor(m => m.ExistedName)
        @Html.DropDownListFor(m => m.ConformityId, new SelectList(Model.Conformities, "Id", "ExistedName"), "Select name", new { @class = "form-control" })  
        @Html.ValidationMessageFor(m => m.ExistedName)      
    </div>
    @Html.HiddenFor(m => m.InputName)
    <button type="submit" class="btn btn-primary">Save</button>
}
