@using JinnSports.BLL.Dtos
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@model TeamDetailsDto
@{
    ViewBag.Title = Model.TeamDto.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/DataTableStyles")
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">График винрейта</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div id="chart"></div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">@Model.TeamDto.Name</h3>
    </div>
    <div class="box-body">
        <table id="teamResultTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Домашняя команда</th>
                    <th>Счет</th>
                    <th>Гостевая команда</th>
                    <th>Дата</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/GoogleCharts")
    @Scripts.Render("~/Scripts/DataTable")
    <script>
        $(document).ready(function () {
            $("#teamResultTable").DataTable({
                "processing": false,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    url: "/api/TeamDetails/LoadResults/@Model.TeamDto.Id",
                    type: 'GET',
                    datatype: 'json',
                    dataSrc: 'data'
                },
                "columns": [
                    { 'data': 'TeamNames.0', 'autoWidth': true },
                    { 'data': 'Score', 'autoWidth': true },
                    { 'data': 'TeamNames.1', 'autoWidth': true },
                    { 'data': 'Date', 'autoWidth': true }
                ]
            });

            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = new google.visualization.DataTable(
                    @Html.Raw(JsonConvert.SerializeObject(Model.WinRateDataTable, new JavaScriptDateTimeConverter()))
                );

                var options = {
                    curveType: 'function',
                    legend: 'none',
                    vAxis: {
                        minValue: 0,
                        maxValue: 100
                    },
                    pointSize: 3,
                    explorer: {
                        axis: 'horizontal',
                        keepInBounds: true
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart'));

                chart.draw(data, options);
            }
        });
    </script>
}