@model JinnSports.WEB.Models.ResultDetailsViewModel

<div>
    <a href="@Url.Action("Details", "Team", new { id = Model.Team1Id })">@Model.Team1</a>
    
    <span>@Model.Score</span>

    <a href="@Url.Action("Details", "Team", new { id = Model.Team2Id })">@Model.Team2</a>
</div>
<hr />
