@using JinnSports.Entities.Entities
@model IEnumerable<EventPrediction>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- select -->
<h2>Предсказания результатов матчей</h2>
<div>
    @foreach(EventPrediction ep in Model)
    {
        <p>@ep.SportEvent.SportType | @ep.SportEvent.Date</p>
        <p>Home team: @ep.HomeTeam.Name | Away team: @ep.AwayTeam.Name</p>
        <p>Home Win Probability: @ep.HomeWinProbability*10 | Draw Probability: @ep.DrawProbability*10 | Away Win Probability: @ep.AwayWinProbability*10</p>
        <hr />
    }
</div>
