@using System.Collections.Generic;
@using JinnSports.WEB.Areas.Mvc.Models
@using JinnSports.BLL.Dtos;
@using JinnSports.BLL.Dtos.SportType;

@model SportEventViewModel

@{
    ViewBag.Title = "Результаты матчей";
    Layout = "~/Areas/Mvc/Views/Shared/_Layout.cshtml";
}

    @using (Html.BeginForm("PostIndex", "Event", FormMethod.Post))
    {
        <div>
            <label for="sportTypeSelector">Выберите тип спорта</label>
            <select class="form-control" id="sportTypeSelector" name="sportTypeSelector">
                <option value="0">Все</option>
                @foreach (SportTypeDto sportType in Model.SportTypeSelectDto.SportTypes)
                {
                    if (sportType.Id == Model.SportTypeSelectDto.SelectedId)
                    {
                        <option selected value=@sportType.Id.ToString()>@sportType.Name</option>
                    }
                    else
                    {
                        <option value=@sportType.Id.ToString()>@sportType.Name</option>
                    }
                }
            </select>

            <p class="divider"></p>

            <label for="timeSelector">Выберите время</label>
            <select class="form-control" id="timeSelector" name="timeSelector">
                <option value=1>Все</option>
                <option value=0>Прошлое</option>
                <option value=2>Будущее</option>
            </select>
            <input class="btn btn-primary" type="submit" name="Select" value="Выбрать" />
        </div>
    }
    <div>
        <h2 style="text-align:center">@Model.SportTypeSelectDto.SelectedName</h2>

        <table id="events" class="table table-hover table-striped"
               cellspacing="0" style="border-collapse:collapse;">
            <thead style="background: #6495ED; font-size : 16px;">
                <tr>
                    <th scope="col">Домашняя команда</th>
                    <th scope="col">Счет</th>
                    <th scope="col">Гостевая команда</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SportTypeListDto sportType in Model.SportTypeSelectDto.SportTypeResults)
            {
                if (Model.SportTypeSelectDto.SelectedId == 0)
                {
                        <tr scope="colspan" class="cursor-pointer" style="background-color: #c2d5fa">
                            <td style="color :#000000; text-align: center; font-size : 14px;" colspan="4">
                                @Html.DisplayFor(sport => sportType.SportType.Name)
                            </td>
                        </tr>
                    }

                    foreach (ResultDto result in sportType.Results)
                    {
                        <tr class="cursor-pointer">
                            <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[0]) </td>
                            <td> @Html.DisplayFor(res => result.Score) </td>
                            <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[1]) </td>
                            <td> @Html.DisplayFor(res => result.Date) </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_EventPaginationPartial", Model)
