@using System.Collections.Generic;
@using JinnSports.BLL.Dtos;
@using JinnSports.BLL.Dtos.SportType;

@model SportTypeSelectDto

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Mvc/Views/Shared/_Layout.cshtml";
}
<asp:content>
    @using (Html.BeginForm("PostIndex", "Event", FormMethod.Post))
    {
        List<SelectListItem> listItems = new List<SelectListItem>()
        {
            new SelectListItem { Text = "All", Value = "0" }
        };

        foreach (SportTypeDto sportType in Model.SportTypes)
        {
            listItems.Add(new SelectListItem { Text = sportType.Name, Value = sportType.Id.ToString() });
        }
        @Html.DropDownList("sportTypeSelector", listItems)
    <input type="submit" name="Select"/>
    }
    <asp:div>
        <h2 style="text-align:center">@Model.SelectedName</h2>

        <table id="events" class="table table-hover table-striped"
                   cellspacing="0" style="border-collapse:collapse;">
            <tr>
                <th scope="col">First Team</th>
                <th scope="col">Score</th>
                <th scope="col">Second Team</th>
                <th scope="col">Date</th>
            </tr>
            @foreach (SportTypeListDto sportType in Model.SportTypeResults)
            {
                if (Model.SelectedId == 0)
                {
                    <tr scope="colspan" class="cursor-pointer" style="background-color: #6495ED">
                        <td style="color :#000000; text-align:center; font-size : 16px;" colspan = "4" >
                        @Html.DisplayFor(sport => sportType.SportType.Name)</td>
                    </tr>
                }

                foreach (ResultDto result in sportType.Results)
                {
                    <tr class="cursor-pointer">
                        <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[0]) </td>
                        <td> @Html.DisplayFor(res => result.Score) </td>
                        <td> @Html.DisplayFor(res => result.TeamNames.ToArray()[1]) </td>
                        <td> @Html.DisplayFor(res => result.Date) </td>
                    </tr>
                }
            }
            </table>
</asp:div>
</asp:content>