@model JinnSports.WEB.Areas.Mvc.Models.PageInfo
@if (Model.EndPage > 1)
{
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                @Html.ActionLink("1", Model.ActionName, Model.ControllerName, 
                    new { id = 1 }, null)
            </li>
            <li>
                @Html.ActionLink("<", Model.ActionName, Model.ControllerName,
                    new { id = Model.CurrentPage - 1 }, null)
            </li>
        }
        else
        {
            <li class="disabled">
                @Html.ActionLink("1", Model.ActionName, Model.ControllerName,
                    new { id = 1 }, null)
            </li>
            <li class="disabled">
                @Html.ActionLink("<", Model.ActionName, Model.ControllerName,
                    new { id = Model.CurrentPage - 1 }, null)
            </li>
        }

        @for (int page = Model.StartPage; page < Model.CurrentPage; page++)
        {
            <li>
                @Html.ActionLink(page.ToString(), Model.ActionName, 
                    Model.ControllerName, new { id = page }, null)
            </li>
        }

        <li class="active">
            @Html.ActionLink(Model.CurrentPage.ToString(), Model.ActionName,
                    Model.ControllerName, new { id = Model.CurrentPage }, null)
        </li>

        @for (int page = Model.CurrentPage + 1; page < Model.EndPage; page++)
        {
            <li>
                @Html.ActionLink(page.ToString(), Model.ActionName,
                    Model.ControllerName, new { id = page }, null)
            </li>
        }

        @if (Model.CurrentPage < Model.EndPage)
        {
            <li>
                @Html.ActionLink(
                    ">", Model.ActionName, Model.ControllerName,
                    new { id = Model.CurrentPage + 1 }, null)
            </li>
            <li>
                @Html.ActionLink(
                    Model.TotalPages.ToString(), Model.ActionName, Model.ControllerName,
                    new { id = Model.TotalPages }, null)
            </li>
        }
        else
        {
            <li class="disabled">
                @Html.ActionLink(
                    ">", Model.ActionName, Model.ControllerName,
                    new { id = Model.CurrentPage + 1 }, null)
            </li>
            <li class="disabled">
                @Html.ActionLink(
                    Model.TotalPages.ToString(), Model.ActionName, Model.ControllerName,
                    new { id = Model.TotalPages }, null)
            </li>
        }
    </ul>
}
