@model JinnSports.BLL.Dtos.MainPageDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "JinnSports Main";
}

@section styles {
    @Styles.Render("~/Content/DataTableStyles")
}

<div class="col-md-9">
    @Html.Partial("_UpcomingEvents", Model.UpcomingEvents.ToList())
</div>

<div class="col-md-3">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">
                News
            </h3>
        </div>
        
        <div class="box-body">
            @if (Model == null || Model.News.Count() == 0)
            {
                <p>No news...</p>
            }
            else
            {
                foreach (var item in Model.News)
                {
                    <a href="@item.Link">
                        <p>
                            @item.Title
                        </p>
                    </a>
                    <p>
                        @item.Description
                        <span class="time pull-right"><i class="fa fa-clock-o"></i>@item.Time</span>
                    </p>
                    <hr/>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        function loadResults(sportTypeId, time) {
            $("#eventTable").DataTable({
                "processing": false,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    url: '/api/Event/LoadEvents?sportTypeId=' + sportTypeId + '&time=' + time,
                    type: 'GET',
                    datatype: 'json',
                    dataSrc: 'data'
                },
                "columns": [
                        { 'data': 'SportType.Name', 'autoWidth': true },
                        { 'data': 'TeamNames.0', 'autoWidth': true },
                        { 'data': 'TeamNames.1', 'autoWidth': true },
                        { 'data': 'Date', 'autoWidth': true }
                ]
            });
        };
    </script>
    @Scripts.Render("~/Scripts/DataTable")
    <script>
        $(document).ready(function () {
            $('#eventTable').dataTable().fnDestroy();
            loadResults(0, 1);
        });
    </script>
}