@model JinnSports.WEB.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/MainStyles")
    <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition register-page">
    
    <div class="register-box">
        <div class="register-logo">
            <a href="@Url.Action("Index", "Home")"><b>Jinn</b>Sports</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype password" })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </div>
            
            @Html.ActionLink("I already have a membership", "Login")
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

</body>
@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/AdminLTE")
</html>